#lead {
  padding-top: 120px;
  text-align: center;
}
#lead h2 {
  line-height: 1.5;
  letter-spacing: 0.06em;
  color: #000;
  font-size: 40px;
  font-weight: 100;
}
#lead p {
  max-width: 840px;
  margin: 80px auto 100px;
  padding: 40px 20px;
  text-align: left;
  line-height: 2;
  font-size: 15px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

@media screen and (max-width: 1200px) {
  #lead { padding-top: 80px;}
  #lead h2 { font-size: 32px;}
  #lead p {
    margin: 60px auto 0;
    padding: 30px 15px;
    font-size: 14px;
  }
}

@media screen and (max-width: 640px) {
  #lead { padding-top: 40px;}
  #lead h2 {
    text-align: left;
    font-size: 26px;
  }
  #lead h2 br { display: none;}
  #lead p {
    margin: 25px auto 0;
    padding: 20px 0;
    line-height: 1.8;
    font-size: 12px;
  }
}

/*======================
 #features
=======================*/
#features { padding-top: 100px;}
.title {
  text-align: center;
  letter-spacing: 0.1em;
  line-height: 1.5;
  font-family: 'Abel', sans-serif;
  font-size: 30px;
  font-weight: normal;
}
.title::after {
  content: "";
  display: block;
  width: 1px;
  height: 40px;
  margin: 25px auto;
  background: #565656;
}
#features .feature-list {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}
#features .feature-list li {
  margin-top: 80px;
  position: relative;
  letter-spacing: -5px;
  font-size: 0;
}
#features .feature-list li .sp { display: none;}
#features .feature-list li:first-child { margin-top: 0;}
#features .feature-list li figure {
  width: 60%;
  line-height: 0;
  display: inline-block;
  vertical-align: middle;
}
#features .feature-list li.even figure {}
#features .feature-list li .txt-box {
  width: 40%;
  padding: 0 0 0 80px;
  display: inline-block;
  vertical-align: middle;
}
#features .feature-list li.even .txt-box {
  padding: 0 80px 0 0;
  left: 0;
  right: auto;
}
#features .feature-list li .txt-box .tit {
  padding-bottom: 10px;
  letter-spacing: 0;
  line-height: 1;
  color: #e80000;
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  font-weight: normal;
}
#features .feature-list li .txt-box dl {}
#features .feature-list li .txt-box dl dt {
  padding-bottom: 25px;
  display: block;
  letter-spacing: 0.06em;
  line-height: 1.4;
  font-size: 28px;
  font-weight: 800;
  position: relative;
}
#features .feature-list li .txt-box dl dt i {
  display: block;
  letter-spacing: 0.1em;
  line-height: 1.5;
  font-family: 'Abel', sans-serif;
  font-size: 12px;
  font-style: normal;
}
#features .feature-list li .txt-box dl dt::before {
  width: 40px;
  height: 1px;
  display: block;
  content: "";
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition-delay: 1s;
}
#features .feature-list li .txt-box dl dt.is-visible::before{
  background: #565656;
  opacity: 1;
}
#features .feature-list li .txt-box dl dd {
  padding-top: 1.5em;
  text-align: left;
  letter-spacing: 0.06em;
  line-height: 2;
  font-size: 14px;
}
#features .feature-list li .txt-box .arrow { margin-top: 1.5em;}
#features .feature-list li .txt-box .arrow a {
  display: block;
  color: #ddd;
}
#features .feature-list li .txt-box .arrow a:hover { color: #FFF;}
#features .feature-list li .txt-box .arrow a:hover span {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

@media screen and (max-width: 1200px) {
  #features { padding: 80px 0 0;}
  .title { font-size: 24px;}
  .title::after { margin: 20px auto;}
  #features .txt-wrap p {
    line-height: 2;
    font-size: 12px;
  }
  #features .feature-list {}
  #features .feature-list li { margin-top: 60px;}
  #features .feature-list li .txt-box { padding: 0 0 0 5%;}
  #features .feature-list li.even .txt-box {  padding: 0 5% 0 0;}
  #features .feature-list li .txt-box .tit { font-size: 16px;}
  #features .feature-list li .txt-box dl dt {
    padding-bottom: 20px;
    font-size: 22px;
  }
  #features .feature-list li .txt-box dl dt i { font-size: 10px;}
  #features .feature-list li .txt-box dl dd {
    line-height: 2;
    font-size: 12px;
  }
}
@media screen and (max-width: 920px) {
  #features .feature-list { width: 100%;}
  #features .feature-list li figure {
    width: 100%;
    float: none;
  }
  #features .feature-list li .pc { display: none;}
  #features .feature-list li .sp { display: block;}
  #features .feature-list li .txt-box,
  #features .feature-list li.even .txt-box {
    width: 100%;
    height: auto;
    padding: 30px 40px 0;
  }
  #features .feature-list li .txt-box dl dt { padding-bottom: 0;}
  #features .feature-list li .txt-box dl dt::before { content: none;}
  #features .feature-list li .txt-box dl dd { padding-top: 1.25em;}
}
@media screen and (max-width: 768px) {
  #features { padding: 60px 0 0;}
  #features .feature-list li { margin-top: 50px;}
  #features .note { margin-top: 50px;}
}
@media screen and (max-width: 640px) {
  .title { font-size: 22px;}
  .title::after {
    height: 30px;
    margin: 15px auto;
  }
  #features .feature-list li { margin-top: 40px;}
  #features .feature-list li .txt-box,
  #features .feature-list li.even .txt-box { padding: 20px 30px 0;}
  #features .feature-list li .txt-box .tit { font-size: 14px;}
  #features .feature-list li .txt-box dl dt { font-size: 20px;}
  #features .feature-list li .txt-box dl dt i { font-size: 9px;}
  #features .feature-list li .txt-box dl dd { line-height: 1.8;}
}
