#h_6 {
  background-color: #f6f6f6;
  padding-top: 1.5rem;
  padding-bottom: 68px;
  .title {
    margin-bottom: 38px;
    h2 {
      font-size: 26px;
      width: fit-content;
      margin: auto;
      color: #034b93;
      font-weight: bold;
      position: relative;
      padding-bottom: 18px;
      margin-bottom: 10px;
      &:before {
        position: absolute;
        content: '';
        width: 68px;
        height: 2px;
        background-color: #034b93;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    p {
      font-size: 16px;
      text-transform: capitalize;
      text-align: center;
    }
  }
  h5 {
    font-size: 20px;
    /*font-weight: bold;*/
    width: fit-content;
    margin: auto;
    margin-top: 18px;
    margin-bottom: 28px;
    color: $main-color-sub;
  }
  h6 {
    width: fit-content;
    margin: 16px auto 8px auto;
    font-size: 22px;
    color: #034b93;
  }
  .employee {
    width: 100%;
    height: 301px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    &:before {
      position: absolute;
      content: '';
      width: 96%;
      height: 97%;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      transition: .6s;
      z-index: 2;
      border: 5px solid rgba(255, 255, 255, 0.6);
      transition: .3s;
    }
    &:hover:before {
      width: 100%;
      height: 100%;
      border: 10px solid rgba(255, 255, 255, 0.6);
      top: 0;
      left: 0;
      transform: translate(0%, 0%);
    }
    &:hover{
      .img-emp {
        transform: scale(1.2) rotate(6deg);
      }
    }
    .img-emp {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center center;
      transition: .6s;
      cursor: pointer;
      //&.lazy-background-img{
      //  background: none!important;
      //}
    }
  }
  p {
    color: #002752;
  }
}