title = "Dịch Vụ"
url = "/dich-vu"
layout = "master"
meta_title = "Dịch Vụ Chụp Ảnh Cưới Đà Nẵng"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[post_all]
results = 0
categories = "dich-vu"
categoryPage = "album"
postPage = "album"
==
{% set posts=post_all.posts %}

<div id="service-page">
<section id="lead" class="inner-s">
 <h2 class="fade-up up">Chụp Ảnh Cưới Tại Đà Nẵng <br>Kết Tinh Của Tình Yêu Và Hạnh Phúc</h2>
 <p class="fade-up up">Sea Wedding tự hào là một trong những đơn vị hàng đầu trong chụp ảnh cưới tại Đà Nẵng. Luôn dẫn đầu xu thế, nắm bắt được khoảnh khắc hạnh phúc nhất trong từng bức ảnh, ekip Sea Wedding sẽ làm mọi thứ để cô dâu chú rể có trải nghiệm thoải mái và đáng nhớ nhất</p>
</section>
 <section id="features">
  <h2 class="title fade-up up">DỊCH VỤ CỦA CHÚNG TÔI</h2>

  <ul class="feature-list">
  {% for post in posts %}

   <li class="{% if loop.index%2==0 %} even {% endif %}cf">
    <figure class="mask iv {% if loop.index%2==0 %} sp {%else%} is-visible{% endif %}"><span>
     <div class="sv_banner" style="background-image:url({{post.img_primary|media}});"></div>
    </span></figure>
    <div class="txt-box">
     <p class="tit mask iv is-visible"><span>0{{loop.index}}</span></p>
     <dl>
      <dt class="mask iv is-visible"><span>{{post.title}}</span></dt>
      <dd class="mask iv is-visible"><span>{{post.content|raw}}</span></dd>
     </dl>
     </div>
     {% if loop.index%2==0 %}<figure class="mask iv pc is-visible"><span>
    <div class="sv_banner" style="background-image:url({{post.img_primary|media}});"></div>
   </span></figure>{% endif %}

   </li>
   {% endfor %}
  </ul>
 </section>
</div>