[config_phone]

[config_email_company]
==
<div id="call_now_button" class="d-none d-md-block d-lg-block">
    <div class="container">
        <ul class="contact float-right">
            <li>
<span class="fa-stack fa-1x">
<i class="far fa-circle fa-stack-2x"></i>
<i class="fa fa-phone fa-stack-1x"></i>
</span>{% set config_phone=config_phone.configPhone %}
                {{ config_phone }}
            </li>
            <li>
<span class="fa-stack fa-1x">
<i class="far fa-circle fa-stack-2x"></i>
<i class="fa fa-envelope fa-stack-1x"></i>
</span>
                {% set config_email_company=config_email_company.configEmailCompany %}


                {{ config_email_company }}
            </li>
            <li>
                <span class="fa-stack fa-1x">
                <i class="far fa-circle fa-stack-2x"></i>
                <i class="fas fa-directions fa-stack-1x"></i>
                </span>
                <a href="lien-he">Liên Hệ</a>
            </li>
        </ul>
    </div>
</div>