[config_description]

[config_script_fanpage]

[config_name_company]

[config_address_company]

[config_phone]

[config_email_company]
==
{% set config_description=config_description.configDescriptionCompany %}
{% set config_script_fanpage=config_script_fanpage.configScriptFanpage %}
{% set config_name_company=config_name_company.configNameCompany %}
{% set config_address_company=config_address_company.configAddressCompany %}
{% set config_phone=config_phone.configPhone %}
{% set config_email_company=config_email_company.configEmailCompany %}




<div id="footer" class="border-top">

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span>Về Seawedding</span>
                <div class="is-divider small"></div>
                <div class="description">{{config_description|raw}}</div>
                <div id="contact_form_2">

                </div>
            </div>
            <div class="col-md-4">
                <span>Facebook</span>
                <div class="is-divider small"></div>
                <div class="description">Like page để nhận những ưu đãi hấp dẫn nhất</div>
                {{config_script_fanpage|raw}}
            </div>
            <div class="col-md-4">
                <span>Liên Hệ</span>
                <div class="is-divider small"></div>
                <ul>
                    <li>{{config_name_company}}</li>
                    <li><i class="fas fa-building"></i>{{config_address_company}}</li>
                    <li><i class="fas fa-phone"></i>{{config_phone}}</li>
                    <li><i class="fas fa-envelope"></i>{{config_email_company}}</li>

                </ul>
            </div>
        </div>

    </div>
    <div class="container-fluid copy-right">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <p style="color: white">Bản quyền thuộc về seawedding.net © 2018 | Thiết kế website bởi: smartlinks.vn .</p>
                </div>
            </div>
        </div>
    </div>
</div>