@charset "UTF-8";
#menu_desktop .header-wrapper {
  background: linear-gradient(90deg, #090979 0%, #00d4ff 50%, #090979 100%);
}
#menu_desktop .header-wrapper.stuck {
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-animation: stuckMoveDown 0.6s;
          animation: stuckMoveDown 0.6s;
  z-index: 999;
}
#menu_desktop .header-wrapper .header-inner {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}
#menu_desktop .header-wrapper .header-inner .logo {
  width: 200px;
  text-align: center;
  order: 2;
  margin: 0 30px;
  padding: 8px 0;
}
#menu_desktop .header-wrapper .header-inner .logo img {
  width: 70%;
}
#menu_desktop .header-wrapper .header-inner .items-left {
  order: 1;
  flex: 1 1 0;
  margin-right: auto;
}
#menu_desktop .header-wrapper .header-inner .items-left ul {
  display: flex;
  justify-content: flex-start;
}
#menu_desktop .header-wrapper .header-inner .items-left ul li {
  display: inline-block;
  padding: 0 25px;
}
#menu_desktop .header-wrapper .header-inner .items-left ul li a {
  color: white;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding: 10px 0;
  font-size: 13px;
  font-weight: bold;
}
#menu_desktop .header-wrapper .header-inner .items-right {
  order: 3;
  flex: 1 1 0;
  margin-left: auto;
}
#menu_desktop .header-wrapper .header-inner .items-right ul {
  display: flex;
  justify-content: flex-end;
}
#menu_desktop .header-wrapper .header-inner .items-right ul li {
  display: inline-block;
  padding: 0 25px;
}
#menu_desktop .header-wrapper .header-inner .items-right ul li a {
  color: white;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding: 10px 0;
  font-size: 15px;
  font-weight: bold;
}
@-webkit-keyframes stuckMoveDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes stuckMoveDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

#call_now_button {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #018BC8;
  color: white;
  padding: 5px;
  z-index: 100000;
  font-size: 1.1em;
}
#call_now_button ul {
  margin: 0;
}
#call_now_button li {
  list-style: none;
  display: inline-block;
  margin: 0;
  margin-right: 10px;
  font-size: 15px;
  font-weight: 600;
}
#call_now_button li a {
  color: white;
}
#call_now_button li:last-child {
  margin-right: 0;
}

.menu_logo {
  padding: 10px;
}
.menu_logo a img {
  width: 100%;
}

.nav-top {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 101;
  padding: 10px 20px;
  width: 100%;
  height: 50px;
  background-color: #08327E;
}
.nav-top .hamburger {
  margin-left: auto;
  color: #fff;
  cursor: pointer;
  font-size: 32px;
}
.nav-top .title {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-drill {
  margin-top: 50px;
  transform: translateX(100%);
}

.nav-is-toggled .nav-drill {
  transform: translateX(0);
}
.nav-is-toggled::after {
  opacity: 1;
  visibility: visible;
}

.nav-drill {
  display: flex;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  transition: 0.45s;
  flex-direction: column;
}
.nav-items {
  flex: 0 0 80%;
  height: 100vh;
  overflow: scroll;
  position: relative;
}
.nav-item:not(:last-child) {
  border-bottom: solid 1px #daf9f4;
}
.nav-item a {
  display: block;
  padding: 0.875em 1em;
  background-color: #fff;
  color: #08327E;
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: 300;
}
.nav-link {
  display: block;
  padding: 0.875em 1em;
  background-color: #fff;
  color: #08327E;
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: 300;
}
.nav-expand-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  background-color: #daf9f4;
  transition: 0.3s;
  visibility: hidden;
}
.nav-expand-content .nav-item:not(:last-child) {
  border-bottom: solid 1px #20b49c;
}
.nav-expand-content .nav-link {
  background-color: #daf9f4;
}
.nav-expand-content .nav-back-link {
  display: flex;
  align-items: center;
  background-color: #08327E !important;
  color: #fff;
}
.nav-expand-content .nav-back-link::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\F0A8";
  margin-right: 0.5em;
}
.nav-expand-link {
  display: flex;
  justify-content: space-between;
}
.nav-expand-link::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\F054";
  flex: 0 1 auto;
}
.nav-expand.active > .nav-expand-content {
  transform: translateX(0);
  visibility: visible;
}
.nav-expand .nav-expand-content {
  background-color: #daf9f4;
}
.nav-expand .nav-expand-content .nav-link {
  background-color: #daf9f4;
}
.nav-expand .nav-expand-content .nav-expand-content {
  background-color: #aff1e6;
}
.nav-expand .nav-expand-content .nav-expand-content .nav-link {
  background-color: #aff1e6;
}
.nav-expand .nav-expand-content .nav-expand-content .nav-expand-content {
  background-color: #84e9d9;
}
.nav-expand .nav-expand-content .nav-expand-content .nav-expand-content .nav-link {
  background-color: #84e9d9;
}
.nav-expand .nav-expand-content .nav-expand-content .nav-expand-content .nav-expand-content {
  background-color: #59e1cb;
}
.nav-expand .nav-expand-content .nav-expand-content .nav-expand-content .nav-expand-content .nav-link {
  background-color: #59e1cb;
}

.phone-call {
  position: fixed;
  right: 20px;
  bottom: 23px;
  width: 80px;
  height: 80px;
  background-size: cover;
  cursor: pointer;
  z-index: 100;
}

.slider:before {
  display: block;
  width: 100%;
  content: " ";
}

@media only screen and (max-width: 575.98px) {
  .slider:before {
    padding-top: 51px;
  }
}
.lazy-background-img {
  background: url("https://ik.imagekit.io/demo/img/image2.jpeg?tr=h-1:h-378") !important;
}

.main-title {
  background-color: #f4f4f4;
}
.main-title .icon-title {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  height: 21px;
}
.main-title h1 {
  text-align: center;
  line-height: 30px;
  color: #08327E;
  text-transform: Capitalize;
  font-size: 36px;
  padding: 15px 0px 15px 0px;
}

.grid-sizer, .grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
}
.grid-item a.fancybox:focus {
  outline: none;
}
.grid-item a.fancybox .wrapper {
  position: relative;
}
.grid-item a.fancybox .wrapper > .inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.grid-item a.fancybox .wrapper > .inner img {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  transition: all 0.2s;
}
.grid-item a.fancybox .wrapper > .inner img:hover {
  box-shadow: 0 10px 30px 0 rgba(58, 87, 135, 0.58);
  padding: 0px;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes shimmerBackground {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}
@keyframes shimmerBackground {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}
.blink {
  animation: fade 1000ms infinite;
  -webkit-animation: fade 1000ms infinite;
}

.shimmer {
  background-image: linear-gradient(100deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 65%, rgba(255, 255, 255, 0) 100%);
  background-repeat: repeat-y;
  background-position: -1000px 0;
  -webkit-animation: shimmerBackground 2.5s linear infinite;
          animation: shimmerBackground 2.5s linear infinite;
}

.sidebar-sea {
  margin: 20px 0;
  background-color: white;
  border-top: 6px solid #08327E;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}
.sidebar-sea h3 {
  background-color: transparent;
  font-weight: 700;
  font-size: 14px;
  color: #08327E;
  padding: 18px 14px;
  text-transform: uppercase;
  border-bottom: 1px solid #e6e6e6;
}

#sidebar_event a img {
  padding: 10px;
  width: 100%;
}

#sidebar_service ul {
  padding: 20px;
}
#sidebar_service ul li {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding: 10px 0;
  line-height: 1.5;
}
#sidebar_service ul li a {
  color: #454545;
  transition: all 0.5s;
  text-transform: capitalize;
}
#sidebar_service ul li a:hover {
  color: #007bff;
}

#sidebar_news ul {
  margin-top: 15px;
  list-style: none;
}
#sidebar_news ul li {
  margin-bottom: 15px;
  line-height: 1.5;
}
#sidebar_news ul li a {
  color: black;
  transition: all 0.2s;
}
#sidebar_news ul li a img {
  width: 100%;
  padding: 0 5px 5px 5px;
}
#sidebar_news ul li a:hover {
  color: #08327E;
}

#footer {
  background-color: #08327E;
  padding: 30px 0 0px;
  margin-bottom: 40px;
}
#footer span {
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}
#footer .is-divider {
  height: 3px;
  display: block;
  background-color: #FF6600;
  margin: 1em 0 1em;
  width: 100%;
  max-width: 30px;
}
#footer .description {
  line-height: 1.5;
  color: white;
}
#footer ul li {
  list-style: none;
  padding: 6px 0;
  color: white;
  line-height: 1.5;
}
#footer ul li a {
  color: white;
}
#footer ul li i {
  padding-right: 10px;
}
#footer .copy-right {
  padding: 20px 0px;
  color: white;
  background-color: #002752;
  margin-bottom: 40px;
  margin-top: 30px;
}
#footer #contact_form_2 button {
  background-color: #FF6600;
  color: white;
}

.ads-fixed {
  top: 50%;
  left: 15px;
  position: fixed !important;
  z-index: 99800;
  transform: translateY(-50%);
}

.ads-fixed #ads-widget-facebook .button-float {
  background-color: #0084ff !important;
}

.ads-fixed #ads-widget-zalo .button-float {
  background-color: #0068ff !important;
}

.ads-fixed #ads-widget-skype .button-float {
  background-color: #ffffff !important;
  background-size: 40px;
}

.ads-fixed .button-float {
  width: 44px;
  height: 44px;
  line-height: 44px;
  display: inline-block !important;
  border: none !important;
  font-size: 18px !important;
  color: #fff !important;
  text-align: center !important;
  position: relative;
  border-radius: 50% !important;
  cursor: pointer !important;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.ads-widget-tooltip {
  margin-bottom: 10px;
}